@font-face {
    font-family: 'lato-reg';
    src: url('../assets/fonts//lato-reg/lato-regular-webfont.woff') format('woff'),
        url('../assets/fonts//lato-reg/lato-regular-webfont.woff2') format('woff2'),
        url('../assets/fonts/lato-reg/lato-regular-webfont.ttf') format('tff')
}

@font-face {
    font-family: 'lato-bold';
    src: url('../assets/fonts/lato-bold/lato-bold-webfont.woff') format('woff'),
        url('../assets/fonts/lato-bold/lato-bold-webfont.woff2') format('woff2'),
        url('../assets/fonts/lato-bold/lato-bold-webfont.tff') format('tff')
}

body {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'lato-reg';
    width: 100%;
    height: 100vh;
}

 #app {
    width: inherit;
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
}

#main-page-header {
    flex: 0 0 6em;
    background-color: #4C31EC;
    display: flex;
}

#main-page-header > .header-title {
    flex: 1 1 auto;
    font-size: 1.3em;
    font-family: 'lato-bold';
    display: flex;
    align-items: center;
    padding: 1em 0 1em 2em;
    color: white;
}

#main {
    flex: 1 1 auto;
    display: flex;
}

#project-section {
    flex: 0 0 19em;
}

#scrum-section {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    background-color: #FAFAFA;
}

.scrum-min-card {
    flex: 0 0 auto;
    height: 12em;
    margin: 2em;
    padding: 1em 1em 0 1em;
    display: flex;
    flex-flow: column nowrap;
    background-color: #FFF;
}

.scrum-min-header {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0.2em 0.5em 0.2em;
    font-family: 'lato-bold';
    font-size: 1.2em;
    color: #000;
    border-bottom: 0.5px solid  rgba(0,0,0,0.5);
}

.scrum-min-body {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    padding: 0.5em;
}

.scrum-min-body > div {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.scrum-min-body > div:nth-child(even) {
    color: rgba(0,0,0,0.66);
    margin-bottom: 0.8em;
}

.scrum-min-body > div:nth-child(odd) {
    color: black;
}
